@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(245 245 245);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background-color: rgb(23 23 23);
  }
}

::-webkit-scrollbar-thumb {
  background-color: rgb(212 212 212);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(163 163 163);
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background-color: rgb(64 64 64);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(82 82 82);
  }
}


